langchain==1.2.16
langchain-chroma==1.1.0
langchain-core==1.4.0
langchain-deepseek==1.0.1
langchain-openai==1.2.1
langchain-protocol==0.0.14
langchain-text-splitters==1.1.2
typing-extensions==4.16.0